@font-face {
    font-family: 'Cabinet';
    src: url('Assets/Fonts/CabinetGrotesk-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cabinet';
    src: url('Assets/Fonts/CabinetGrotesk-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cabinet';
    src: url('Assets/Fonts/CabinetGrotesk-Extrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Cabinet';
    src: url('Assets/Fonts/CabinetGrotesk-Extralight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Cabinet';
    src: url('Assets/Fonts/CabinetGrotesk-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cabinet';
    src: url('Assets/Fonts/CabinetGrotesk-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cabinet';
    src: url('Assets/Fonts/CabinetGrotesk-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cabinet';
    src: url('Assets/Fonts/CabinetGrotesk-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cabinet';
    src: url('Assets/Fonts/CabinetGrotesk-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Telma';
    src: url('Assets/Fonts/Telma-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Telma';
    src: url('Assets/Fonts/Telma-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Telma';
    src: url('Assets/Fonts/Telma-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Telma';
    src: url('Assets/Fonts/Telma-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Telma';
    src: url('Assets/Fonts/Telma-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Telma';
    src: url('Assets/Fonts/Telma-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

