* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

::selection {
    background-color: lightyellow;
    color: #111;
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: clamp(300px, 40vw, 753px) clamp(400px, 55vw, 1035px);
    grid-template-rows: 100%;
    justify-content: space-between;
    padding: 1vw;
}

/* Left Section */
#signin-container {
    position: relative;
    background: url("Assets/Images/img1.jpg");
    background-size: cover;
    background-position: 90% center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#signin-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.141);
    z-index: 1;
}

#hero-text {
    height: fit-content;
    color: #ffffff;
    /* background-color: rgb(235, 105, 65); */
    margin: 4vw 0;
    z-index: 2;
}

#hero-text h1 {
    font-family: Cabinet;
    font-weight: 900;
    font-size: clamp(40px, 4vw, 75px);   
    line-height: clamp(40px, 4vw, 75px);
}

#hero-text h3 {
    font-family: Telma;
    font-weight: 900;
    font-size: clamp(26px, 2.5vw, 48px);   
    line-height: clamp(26px, 2.5vw, 48px);
}

#bottom-text {
    display: flex;
    gap: .5vw;
    margin: 4vw 0;
    color: #fff;
    font-family: Cabinet;
    font-weight: 400;
    font-size: clamp(14px, .9vw, 19px);
    z-index: 2;
}

#bottom-text a {
    color: #fffb19;
}


/* Right Section */
#signup-container {
    border-radius: 4px;
    /* background: rgb(97, 168, 216); */
}

#signup-wrapper {
    width: 40vmax;
    height: 100%;
    /* background-color: rgb(10, 184, 10); */
    margin: 0 auto;
    padding: 5vw 0 4vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3.5vw;

}

#signup-container h1 {
    font-family: Cabinet;
    font-weight: 600;
    font-size: clamp(34px, 2.5vw, 48px);   
    line-height: clamp(34px, 2.5vw, 48px);
}

#signup-container h1 span {
    font-family: Telma;
    font-weight: 500;
    display: block;
    text-align: center;
}

#signup-container form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5vw;
    /* background-color: salmon; */
}

.input-container {
    /* background-color: red; */
    width: 80%;
    height: 15%;
    position: relative;
}

.input-container:nth-child(1) {
    margin-top: 2vw;
}

.input-container input {
    width: 100%;
    height: 70%;
    border: none;
    outline: none;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 0 1vw;
    font-family: Cabinet;
    font-weight: 500;
    font-size: clamp(14px, .9vw, 18px);
    color: #555;
}

.input-container input::placeholder{
    color: #333;
}

.input-container .error-text {
    height: 30%;
    font-family: Cabinet;
    font-weight: 500;
    font-size: clamp(12px, .77vw, 15px);
    color: #777;
    padding: 0 1vw;
    align-content: center;
}

.input-error .error-text {
    color: #ff6b6b;
}

.input-success .error-text {
    color: #51cf66;
}

#input-wrapper {
    display: flex;
    align-items: center;
    height: 70%;
}

#input-wrapper input {
    width: 100%;
    height: 100%;
}

#input-wrapper #toggle-btn {
    background-color: transparent;
    position: absolute;
    right: clamp(10px, .6vw, 15px);
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    outline: none;
    border: none;
}

#input-wrapper #toggle-btn i {
    font-size: clamp(16px, 1vw, 20px);
    font-weight: 300;
}

form button {
    width: 80%;
    height: 10%;
    text-transform: uppercase;
    font-family: Cabinet;
    font-weight: 800;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#signup-btn {
    background-color: #222;
    color: #fff;
    font-size: clamp(16px, 1.2vw, 22px);
}

#google-btn {
    background-color: #fff;
    color: #333;
    border: 1px solid #666;
    font-size: clamp(16px, 1.1vw, 20px);
}

#google-btn i {
    margin-right: .5vw;
}

#terms-and-conditions {
    font-size: clamp(12px, .7vw, 14px);
    font-family: Cabinet;
    font-weight: 400;
    color: #444;
    text-align: center;
}

#terms-and-conditions a {
    color: #222;
}

/* ------------------------------------------------------------------------------- */
/* Responsive Styling */
/* Media Query for 768 to 1300 */
@media (max-width: 1300px) and (min-width: 768px) {
    #signup-wrapper {
        width: 60vw;
    }

    #signup-container form {
        width: 100%;
        gap: 3vw;   
    }
}

/* Media Query for 768 to 950 */
@media (max-width: 950px) and (min-width: 768px) {
    #hero-text {
        margin: 8vw 0;
    }

    #bottom-text {
        margin: 8vw 0;
    }

    #signup-wrapper {
        padding: 8vw 0 8vw 0;
    }
}

/* Media Query for lesser than 768 */
@media (max-width: 768px) {
    main {
        grid-template-columns: 100%;
        grid-template-rows: 40% 58%;
        gap: 4vw;
    }

    #signin-container {
        background-position: center;
    }
    
    #signup-wrapper {
        width: 90%;
        padding: 4vw 0 1vw 0;
        gap: 2vw;
    }
    
    #signup-container form {
        width: 95%;
        justify-content: center;
        gap: 2.4vw;
    }

    .input-container {
        width: 85%;
        height: 20%;
    }

    .input-container:nth-child(1) {
        margin-top: 1vw;
    }

    #input-wrapper #toggle-btn {
        text-align: center;
        align-content: center;
        right: 2vh;
        width: 2.5vh;
        height: 2.5vh;
    }

    form button {
        width: 85%;
        height: 12%;
    }

    #terms-and-conditions {
        font-size: clamp(11px, .7vw, 14px);
    }
}

/* ------------------------------------------------------------------------------- */